<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cao.alarmreminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmReminder">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--chúng ta muốn register broadcast receiver: nói vs hệ thống chúng ta có broadcast receiver, mỗi khi broadcast event xảy ra thì hệ thống sẽ báo tới người dùng -->
        <receiver android:name=".myBroadcastReceiver">
            <!--lọc ra event mà chúng ta muốn kích hoạt cụ thể-->
            <intent-filter>
                <!--tên hành động mà chúng ta muốn lọc ra-->
                <action android:name="com.tester.alarmmanager"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>